body{
    background-color: gainsboro;
}

/* Todas Las secciones */
.header{
    background-color:white;
    display: flex;
    justify-content: center;
}

.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cuadro_blanco{
    background-color: white;
    width: 450px;
    height: 500px;
    font-family: 'Merriweather Sans', sans-serif;
    margin: 10px;
}

.all_sections{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
}

img{
    height: 280px;
    width: 450px;
}

p{
    display: flex;
    text-align: justify;
    padding: 0px 10px 7px 10px;
    font-weight: normal;
} 

/* Solo hice pocas lineas de codigo ya que no considero necesarias porque es muy repetitivo el proceso, por ende utilizo pocas lineas y las mismas etiquetas */